body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}
.container{
    box-sizing: border-box;
    width: 960px; /* Can use 50vw instead to use 50% of the viewport width*/
    height: 960px; /* Can use 50vw instead to use 50% of the viewport width*/
    display: flex;
    flex-wrap: wrap;
}
.container div{
    width: 10px;
    flex: auto;
    box-sizing: border-box;
    border: solid slategray 0.1px;
    background-color: black;
}